@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    height: 100dvh;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    height: 2.5rem;
    width: 5rem;
    background-color: #1F9CF0;
    color: #F9FAF8;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #1F9CF0;
    background-color: #F9FAF8;
}

.colors > .buttons{
    width: 2.5rem;
    border-radius: 50%;
    border: #fff solid 2px;
}

.sketch-container{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 56rem;
    min-height: 31.5rem;
    box-shadow: 0 25px 30px 5px rgb(0, 0, 0, 0.3);
}

.menu {
    padding: 0.5em;
    width: 100%;
    background-color:rgb(145,194,210, 0.8);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.4rem;
}

.grid {
    flex-basis: 100%;
    display: flex;
}

.grid > * {
    flex-basis: 100%;
    /* border: 0.1px solid black; */
    background: #ffffff;
}

.toBlack {
    background-color: black;
  }

h1 {
    font-size: 1.6rem;
    font-family: 'Gasoek One', sans-serif;
    -webkit-text-stroke: 1px black;
}